.text-gray {
  color: #7b7a7a !important;
}
.tt-accordion-content > p {
  color: #7b7a7a !important;
}
/* .tt-btn-link::after > a[data-hover="Read More"] {
  content: none;
}
.tt-btn-link > a[data-hover="Read More"] {
  display: none !important;
} */

.tt-section-inner {
}

.custom-opacity::before {
  opacity: 0.1 !important;
  height: 100% !important;
  background-color: azure !important;
}
.ph-subt-parallax {
  color: #7b7a7a !important;
}
.custom-title-detail {
  color: aliceblue !important;
}
.pi-list-heading {
  color: aliceblue !important;
}
.pi-list-cont {
  color: aliceblue !important;
}
.custom-make {
  color: aliceblue !important;
}

.custom-circle:hover text {
  fill: #fff;
}
.custom-height {
  height: 2000px !important;
  margin-bottom: 100px !important;
}
/* .custom-height img{
    height: 50% !important;
} */
.custom-height .ttgr-item-inner {
  height: 100% !important;
}
.custom-height .ttgr-item-inner .tt-gallery-item {
  height: 100% !important;
}
.custom-height .ttgr-item-inner .tt-gallery-item .tt-gallery-item-inner {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .tt-gallery-image-wrap {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .anim-zoomin-wrap {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .tt-gallery-image-wrap
  .tt-gallery-image {
  height: 100% !important;
}
.pgi-image {
  height: 100% !important;
}
.magnetic-wrap {
  height: 70px !important;
}
.tt-logo img {
  max-height: 80px !important;
}
a {
  text-decoration: none !important;
}
.content {
  padding: 200px !important;
}
.anim-fadeinup > p {
  font-size: 16px !important;
}
.custom-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill !important;
  object-position: 50% 50%;
}
@media (min-width: 768px) {
  .custom-width {
    margin: 0 2vw 6vw 2vw !important;
  }
}
.carousel-fade {
  transition: opacity 0s 1s !important;
}
.tt-demo-btn {
  display: none !important;
}
.anim-image-parallax-wrap {
  height: 100% !important;
}
.anim-image-parallax-inner {
  height: 100% !important;
}
@font-face {
  font-family: grandslang;
  src: url("/assets/img/SVN-GrandSlang/SVN-GrandSlang-Roman.otf");
}
.ph-title-parallax {
  font-family: grandslang !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: grandslang !important;
}
.tt-scrolling-text-inner {
  font-family: grandslang !important;
}
@font-face {
  font-family: gilroyregular;
  src: url("/assets/font/SVN-Gilroy\ Regular.otf");
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-size: 16px !important;
}
.tt-main-menu,
.ph-caption-title-ghost,
.ph-caption-subtitle,
.scroll-down-circle,
.made-with-love,
.tt-ol-menu-toggle-btn-text,
.tt-m-menu-toggle-btn-text,
.tt-ol-menu-list,
.tt-heading,
.tt-btn,
.social-buttons,
.footer-social,
.tt-ps-nav-pagination,
.tt-pc-navigation,
.tt-cc-pagination,
.pli-counter,
.ttgr-cat-trigger-wrap,
.ttgr-cat-list,
.portfolio-interactive-item,
.tt-copyright,
.project-info-list,
.tt-pn-subtitle,
.ph-share-ghost,
.pgi-category,
.anim-fadeinup,
.ph-share-text,
.ph-category,
.ph-meta-published,
.bi-item-meta > span,
.bi-item-categories a,
.tt-blog-post-content p,
.font-custom,
.tt-pagination {
  font-family: gilroyregular !important;
}
.tt-pn-link {
  font-family: grandslang !important;
}
.tt-accordion-content > p {
  font-family: gilroyregular !important;
}
.anim-fadeinup > p {
  color: black !important;
}
/* .ph-title-parallax {
  z-index:inherit  !important;
} */

.ph-title-parallax {
  font-size: 60px !important;
  width: 50% !important;
  margin: 0 auto !important;
}
.anim-fadeinup {
  font-size: 16px !important;
}
.anim-fadeinup > .tt-accordion-heading {
  text-align: left !important;
}
.anim-fadeinup > .tt-accordion-content {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.pli-title > a:hover {
  color: black !important;
}
.bi-item-title > a:hover {
  color: black !important;
}
.tt-form-group > label {
  display: block !important;
  color: black !important;
}
.not-hide-cursor {
  color: black !important;
}
.bi-item-categories a {
  color: #7b7a7a !important;
}
.tt-contact-info .tt-link {
  color: black !important;
}
.custom-noelement {
  color: black !important;
}
.tt-ci-icon {
  color: #7b7a7a !important;
}
.image {
  object-position: 50% 50% !important;
}
.prev,
.next {
  display: block !important;
}
.ph-category,
.ph-meta-published {
  color: #fff !important;
}

.published {
  color: #7b7a7a !important;
}
.tt-blog-post-tags a {
  color: #7b7a7a !important;
}
.ph-log .ph-title-parallax {
  color: #fff !important;
}
.tt-blog-post-content p {
  color: #7b7a7a !important;
}
