.text-gray {
  color: #7b7a7a !important;
}
.tt-accordion-content > p {
  color: black !important;
}
/* .tt-btn-link::after > a[data-hover="Read More"] {
  content: none;
}
.tt-btn-link > a[data-hover="Read More"] {
  display: none !important;
} */

.tt-section-inner {
}

.custom-opacity::before {
  opacity: 0.1 !important;
  height: 100% !important;
  background-color: azure !important;
}
.ph-subt-parallax {
  color: #7b7a7a !important;
}
.custom-title-detail {
  color: aliceblue !important;
}
.pi-list-heading {
  color: aliceblue !important;
}
.pi-list-cont {
  color: aliceblue !important;
}
.custom-make {
  color: aliceblue !important;
}

.custom-circle:hover text {
  fill: #fff;
}
.custom-height {
  height: 2000px !important;
  margin-bottom: 100px !important;
}
.custom-height img {
  height: 50% !important;
}
.custom-height .ttgr-item-inner {
  height: 100% !important;
}
.custom-height .ttgr-item-inner .tt-gallery-item {
  height: 100% !important;
}
.custom-height .ttgr-item-inner .tt-gallery-item .tt-gallery-item-inner {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .tt-gallery-image-wrap {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .anim-zoomin-wrap {
  height: 100% !important;
}
.custom-height
  .ttgr-item-inner
  .tt-gallery-item
  .tt-gallery-item-inner
  .tt-gallery-image-wrap
  .tt-gallery-image {
  height: 100% !important;
}
.pgi-image {
  height: 100% !important;
}
.magnetic-wrap {
  height: 70px !important;
}
.tt-logo img {
  max-height: 80px !important;
}
a {
  text-decoration: none !important;
}
.content {
  padding: 200px !important;
}
.anim-fadeinup > p {
  font-size: 16px !important;
}
.custom-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  object-position: 50% 50%;
}
@media (min-width: 768px) {
  .custom-width {
    margin: 0 2vw 6vw 2vw !important;
  }
}
.carousel-fade {
  transition: opacity 0s 1s !important;
}
.tt-demo-btn {
  display: none !important;
}
.anim-image-parallax-wrap {
  height: 100% !important;
}
.anim-image-parallax-inner {
  height: 100% !important;
}
@font-face {
  font-family: grandslang;
  src: url("/assets/img/SVN-GrandSlang/SVN-GrandSlang-Roman.otf");
}
@font-face {
  font-family: grilroyLight;
  src: url("/assets/font/SVN-Gilroy\ Light.otf");
}
.ph-title-parallax {
  font-family: grandslang !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: grandslang !important;
}
.tt-scrolling-text-inner {
  font-family: grandslang !important;
}
@font-face {
  font-family: gilroyregular;
  src: url("/assets/font/SVN-Gilroy\ Regular.otf");
}
@font-face {
  font-family: gilroymedium;
  src: url("/assets/font/SVN-Gilroy\ Medium.otf");
}
@font-face {
  font-family: gilroysemibold;
  src: url("/assets/font/SVN-Gilroy\ SemiBold.otf");
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-size: 16px !important;
}
.tt-main-menu,
.ph-caption-title-ghost,
.ph-caption-subtitle,
.scroll-down-circle,
.made-with-love,
.tt-ol-menu-toggle-btn-text,
.tt-m-menu-toggle-btn-text,
.tt-ol-menu-list,
.tt-heading,
.tt-btn,
.social-buttons,
.footer-social,
.tt-ps-nav-pagination,
.tt-pc-navigation,
.tt-cc-pagination,
.pli-counter,
.ttgr-cat-trigger-wrap,
.ttgr-cat-list,
.portfolio-interactive-item,
.tt-copyright,
.project-info-list,
.tt-pn-subtitle,
.ph-share-ghost,
.pgi-category,
.anim-fadeinup,
.ph-share-text,
.ph-category,
.ph-meta-published,
.bi-item-meta > span,
.bi-item-categories a,
.tt-blog-post-content p,
.font-custom,
.pli-category,
.service_content p,
.tt-pagination {
  font-family: gilroyregular !important;
}
.tt-pn-link {
  font-family: grandslang !important;
}
.tt-accordion-content > p {
  font-family: gilroyregular !important;
}
.anim-fadeinup > p {
  color: black !important;
}
/* .ph-title-parallax {
  z-index:inherit  !important;
} */

.max-width-1000 .font-normal {
  /* font-size: 60px !important;
  margin: 0 auto !important; */
}
.ph-custom .ph-title-parallax {
  /* font-size: 60px !important;
  width: 50% !important;
  margin: 0 auto !important; */
}

.anim-fadeinup {
  font-size: 16px !important;
}
.anim-fadeinup > .tt-accordion-heading {
  text-align: left !important;
}
.anim-fadeinup > .tt-accordion-content {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.pli-title > a:hover {
  color: black !important;
}
.bi-item-title > a:hover {
  color: black !important;
}
.tt-form-group > label {
  display: block !important;
  color: black !important;
}
.not-hide-cursor {
  color: black !important;
}
.bi-item-categories a {
  color: #7b7a7a !important;
}
.tt-contact-info .tt-link {
  color: black !important;
}
.custom-noelement {
  color: black !important;
}
.tt-ci-icon {
  color: #7b7a7a !important;
}
.image {
  object-position: 50% 50% !important;
}
.prev,
.next {
  display: block !important;
}
.ph-category,
.ph-meta-published {
  color: #fff !important;
}

.published {
  color: #7b7a7a !important;
}
.tt-blog-post-tags a {
  color: #7b7a7a !important;
}
.ph-log .ph-title-parallax {
  color: #fff !important;
}
.tt-blog-post-content p {
  color: #7b7a7a !important;
}
.himage-custom {
  height: 100% !important;
}
.custom-video {
  object-fit: fill !important;
}
.text-menu,
label {
  font-size: 16px !important;
}
.tt-ol-submenu-caret {
  color: black !important;
}
.element-item {
  position: none;
}
.isotope-item1 {
  position: relative !important;
  top: 0 !important;
}
/* .pli-title {
  text-align: left !important;
} */
/* .pli-category {
  text-align: left !important;
} */
/* .pli-categories-wrap {
  text-align: right !important;
} */
@media (max-width: 1023px) {
  .col-sm-12 .vimeo-wrapper {
    height: 25vh !important;
  }
}
@media (max-width: 767px) {
  .pli-info {
    padding-left: 0 !important;
  }
  .tt-section {
    padding-bottom: 50px !important;
  }
  #tt-footer {
    padding-top: 20px !important;
  }
  .page-header-inner {
    padding-bottom: 50px !important;
  }
  .tt-ol-menu-list > li > a,
  .tt-ol-menu-list > li > .tt-ol-submenu-trigger > a {
    font-size: 40px !important;
  }
  .title {
    text-align: center !important;
  }
  #page-header.ph-cap-lg .ph-caption-title {
    font-size: 35px !important;
  }
  .col-sm-12 .vimeo-wrapper {
    height: 15vh !important;
  }
}
@media (min-width: 768px) {
  .tt-ol-menu-list > li > a,
  .tt-ol-menu-list > li > .tt-ol-submenu-trigger > a {
    font-size: 40px !important;
  }
}
.partner-list {
  text-align: center !important;
}
@media (min-width: 768px) {
  .max-width-1000 {
    max-width: 600px !important;
  }
}
@media (min-width: 1024px) {
  .max-width-1000 {
    max-width: 1000px !important;
  }
}
.tt-scrolling-text {
  color: black !important;
}
.pgi-title {
  font-family: gilroymedium !important;
  font-weight: normal !important;
}
.custom-caption {
  bottom: 30px !important;
}
.custom-caption1 {
  bottom: 13% !important;
}
.pgi-image-inner {
  height: 100% !important;
}
figure {
  margin: 0 !important;
}
.pi-list-cont a {
  color: #fff !important;
}
.anim-fadeinup > p {
  text-align: center !important;
}

.partner-list img {
  padding: 0 30px !important;
}
/* .custom-video {
  height: 424px !important;
}
.vimeo-wrapper {
  height: auto !important;
} */
.custom-scale {
  transform: scale(1.01) !important;
}
.custom-listItem {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.tt-accordion-content:not(.is-open) {
  display: block !important;
}
.pli-counter {
  top: 50% !important;
}
.pli-title a {
  font-family: gilroysemibold !important;
  font-size: 30px !important;
}
/* icon trang home  */
.portfolio-list:not(.pli-info-overlay).pl-compact .pli-image-col {
  flex: 0 0 15% !important;
  max-width: 15% !important;
}
/* set width title 50% */
.width-50 {
  margin: 0 auto !important;
}
.width-50 > p {
  margin: 0 !important;
}
@media (min-width: 768px) {
  .col-md-6 {
    width: 50% !important;
  }
}
@media (min-width: 1024px) {
  .col-md-6 {
    width: 50% !important;
  }
}
@media (max-width: 500px) {
  .portfolio-list:not(.pli-info-overlay).pl-compact .pli-image-col {
    max-width: 40% !important;
  }
}
select option {
  background-color: #a5b8c9 !important;
}
.tt-heading-subtitle {
  color: black !important;
}
.custom-caption1 {
  bottom: 35px !important;
}
.tt-ol-menu-toggle-btn-text {
  padding-left: 5px !important;
}
/* tag trang blog post */
.tt-blog-post-tags,
.tt-blog-post-share {
  display: none;
}
/* custom service */
.col-md-3 {
  text-align: center !important;
}
.service_img {
  margin-bottom: 50px;
}
.service_title {
  margin-bottom: 20px;
}
.service_content p {
  margin: 0 auto;
}
