/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-container1 .hero__footer {
  overflow: hidden;
  position: absolute;
  height: 68px;
  width: 22px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 2;
}
.swiper-container1 .hero__footer__scroll-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  animation-name: kf-arrow-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.swiper-container1 .hero__footer__scrolltext {
  font-size: 1.2rem;
  position: absolute;
  transform: rotate(90deg);
  top: 11px;
  left: -5px;
  color: rgba(255, 255, 255, 0.7);
}
.swiper-slide {
  height: 500px;
  overflow: hidden;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}
.swiper-slide > img {
  transform: scale(1.3);
  transition: transform 1.5s ease;
  width: 100%;
  height: 500px;
  max-width: 100%;
  object-fit: cover;
}
.swiper-slide__title {
  position: absolute;
  font-family: sans-serif;
  font-size: 25px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 20px));
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease 1s, transform 0.3s ease 1s;
}
.swiper-slide-active > img {
  transform: none;
}
.swiper-slide-active .swiper-slide__title {
  opacity: 1;
  transform: translate(-50%, -50%);
}
@keyframes kf-arrow-animation {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
} */
.swiper-container {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
  transition: transform 0.2s !important;
}
.swiper-slide:hover {
  transform: scale(0.9) !important;
}
